// 引入 normalize.css
@import 'normalize.scss';
// 引入 swiper
@import '../lib/swiper/swiper.min.scss';
// 引入 basice 
@import 'basice.scss';

html,body {
	height: 100%;

	// loading 页面
}
// 计算子寸函数
@function pr($size) {
	@return ($size/32)*1rem;
}
// 混合 设置图片居中
@mixin bgc($url,$width) {
	background:url($url) no-repeat center / 100% 100%;
	position: absolute;
	left: 50%;
	margin-left: pr(-$width/2);
}
// 混合 不考虑居中 
@mixin bg($url) {
	background: url($url) no-repeat center / 100% 100%;
	position: absolute;
}
// 设置 尺寸
@mixin size($width,$height) {
	width: pr($width);
	height: pr($height);
}
// loading 页面
.loading {
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	background:url('../images/city.gif')
	no-repeat 50% 100%;
	z-index: 200;
	.percent {
		@include size(480,32);
		@include bgc('../images/timg2.png',480);
		top: pr(560);
	}
	.progress {
		@include size(480,52);
		@include bgc('../images/timg1.png',480);
		top: pr(600);
		background-color: #000;
		border: 2px solid blue;
		border-radius: pr(480);
	}
}

.light {
	height: 100%;
	width: 100%;
	@include bg('../images/light.png');
	z-index: 50;
}
// swiper 页面
.basice-container {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}
